# Docker Hub credentials (för GitHub Secrets - används i cd.yml)
DOCKER_USERNAME=ab637 #Ersätta med sitt EGET Docker Hub användarnamn!!!
DOCKER_PASSWORD=din-docker-token-här #Ersätta din-docker-token-här med sin EGET Docker token!!!

# MLflow
MLFLOW_TRACKING_URI=http://mlflow:5000
