__pycache__/
*.pyc
venv/
.env
.vscode/
.DS_Store
*.csv
*.pkl
mlruns/

# DVC cache (stora filer som inte ska till Git)
dvc_cache/
.dvc/tmp/

dvc_cache/
.dvc/tmp/
*.mdf
*.ldf

dvc_cache/
.dvc/tmp/
*.mdf
*.ldf

dvc_cache/
.dvc/tmp/
*.mdf
*.ldf
